<div class="container">
  <form class="form-horizontal">
    <label class="">Name</label>
    <input type="text" name="name" [(ngModel)]="name" class="form-control">
    <label class="">Email</label>
    <input type="text" name="Email" [(ngModel)]="email" class="form-control">
    <label class="">Address</label>
    <input type="text" name="Address" [(ngModel)]="address" class="form-control">
    <label class="">Phone Number</label>
    <input type="text" name="Phone" [(ngModel)]="phone" class="form-control">
    <label class="">Company Name</label>
    <input type="text" name="Company" [(ngModel)]="company" class="form-control"><br>
    <button type="button" class="btn btn-default" (click)="addBook()">Add User</button>
  </form>
</div>
