<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li role="presentation"><a routerLink="/" href="/">User List</a></li>
            <li role="presentation"><a routerLink="/useradd" href="useradd">Add User</a></li>
        </ul>
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#">Admin - User Page</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>