<div class="container">
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Company</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let u of this.api.userlist; let i = index">
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.address.street}}</td>
      <td>{{u.company.name}}</td>
      <td><button type="button" class="btn btn-danger" (click)="remove(i)">Remove</button>
    </tr>
  </table>  
</div>
